@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=IBM+Plex+Mono:wght@400&family=Geist:wght@300;400;500;600&display=swap');
@import './styles/global.css';
